<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Website</title>
  </head>
  <body>
    <h1>We'll be right back</h1>
    <p>The site is currently under maintenance</p>
  </body>
</html>
